<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gezi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gezi">
        <activity
            android:name=".kent"
            android:exported="false" />
        <activity
            android:name=".belediye"
            android:exported="false" />
        <activity
            android:name=".tree"
            android:exported="false" />
        <activity
            android:name=".kentmarket"
            android:exported="false" />
        <activity
            android:name=".pasa"
            android:exported="false" />
        <activity
            android:name=".uluc"
            android:exported="false" />
        <activity
            android:name=".akdag"
            android:exported="false" />
        <activity
            android:name=".kale"
            android:exported="false" />
        <activity
            android:name=".Otoparklar"
            android:exported="false" />
        <activity
            android:name=".IbadetYerleri"
            android:exported="false" />
        <activity
            android:name=".Marketler"
            android:exported="false" />
        <activity
            android:name=".Oteller"
            android:exported="false" />
        <activity
            android:name=".TarihiYerler"
            android:exported="false" />
        <activity
            android:name=".Kutuphaneler"
            android:exported="false" />
        <activity
            android:name=".Parklar"
            android:exported="false" />
        <activity
            android:name=".Kategoriler"
            android:exported="false" />
        <activity
            android:name=".KayitOl"
            android:exported="false" />
        <activity
            android:name=".Giris"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>